.wrapper {
  width: 500px;
  height: 200px;
  margin: 50px;
  border: 1px solid;
  padding: 10px;
  border-radius: 10px;
}

.start {
margin: 10px;
}

.number_hidden {
  visibility: hidden;
}

.number_visible {
  background-color: ghostwhite;
  visibility: visible; 
}

.play {
  margin: 10px;
}

.result {
  margin: 10px;
}

.red {
  color: red;
}

.green {
  color: green;
}
